{% extends 'template.html' %}

{% block Title %} Create New Password {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'category' category.pk %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'new_password' category.pk %}">New Password</a></li>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">Create Password</button>
    </form>
{% endblock %}